bin/*
build/*
lib/* 
example/bin/*
example/build/*
TODO.md 
config.status config.log
Makefile  
autom4te.cache/
aclocal.m4
compile 
install-sh 
missing 
Makefile.in
stamp-h1  
*~  
config.guess 
config.sub 
depcomp 

